<section *ngIf="(article | async)" class="section section--border">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <div class="col-md-8 col-md-offset-2">
          <h1>{{(article | async).Title}}</h1>
          <p>
            {{(article | async).ArticleAuthor.Name}}
          </p>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <hr />
        </div>
      </div>
      <div [innerHtml]="(article | async).Content" class="col-md-8 col-md-offset-2">
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <hr />
        <div *ngIf="(article | async).ArticleAuthor" class="media Author Author--big">

          <!--<a class="pull-left" href="@Html.GetAuthorUrl(Model)">-->
          <!--</a>-->
          <div class="media-body">
            <!--<h3 class="media-heading">@Html.RenderAuthorLink(Model)</h3>-->
            <h5><a routerLink="/authors/{{(article | async).ArticleAuthor.Id}}">More about {{(article | async).ArticleAuthor.Name}}</a></h5>
            <p class="text-muted">{{(article | async).ArticleAuthor.JobTitle}}</p>
            <p [innerHtml]="(article | async).ArticleAuthor.Bio"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
